{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <div class="col-md-5 mx-auto">
    <h3 class="text-center mb-4">Complete Registration</h3>
    <p class="text-center">Email: {{ email }}</p>
    <form method="POST">
      {{ form.hidden_tag() }}

      <div class="mb-3">
        {{ form.otp.label(class="form-label") }}
        {{ form.otp(class="form-control") }}
        {% for error in form.otp.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <p class="text-center mt-3">
        Didn’t receive code? <a href="{{ url_for('resend_register_otp') }}">Resend OTP</a>
      </p>

      <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        {% for error in form.username.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {% for error in form.password.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="mb-3">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control") }}
        {% for error in form.confirm_password.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

      {{ form.submit(class="btn btn-dark w-100") }}
    </form>
  </div>
</div>
{% endblock %}
